@import 'variables';

/* Basic styles for the checkout form */
.payment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.payment-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.payment-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.payment-form button {
  margin-top:20px;
  background-color: $secondary-background;
  color: $primary-background;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.payment-form button:hover {
  background-color: $button-hover;
}
