@import 'variables';

.tabs {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0;
    scroll-behavior: smooth;
    width:100%;
    box-sizing: border-box;
    background: linear-gradient(to bottom, $accent-background 50%, $primary-background 50%);
}

.tab {
    padding: 10px 20px;
    background-color: $secondary-background;
    color: $primary-background;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s;
    margin: 0;
    flex: 0 0 auto; /* Ensure tabs are inline and don't shrink */
}

.tab:hover, .activeTab {
    background-color: $button-hover;
}

.menu-section {
    text-align: center;
    padding: 50px 20px;
    background-color: $primary-background;
    color: $primary-text-color;
}

.menu-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.menu-items-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.menu-items {
    display: flex;
    overflow-x: auto;
    padding: 20px 0;
    scroll-behavior: smooth;
}

.menu-item {
    flex: 0 0 auto;
    width: 200px;
    margin: 0 15px;
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s;
}

.menu-item img:hover {
    transform: scale(1.1);
}

.menu-item h3 {
    font-size: 1.5em;
    margin-top: 10px;
    color: $secondary-background;
}

.menu-item p {
    font-size: 1em;
    color: $primary-text-color;
}

.menu-item .price {
    font-size: 1.2em;
    color: $primary-text-color;
    margin-top: 10px;
}

.menu-item .add-to-cart {
    background-color: $secondary-background;
    color: $primary-background;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.menu-item .add-to-cart:hover {
    background-color: $button-hover;
}

.scroll-button {
    position: absolute;
    top: 50%;
    background-color: $secondary-background;
    color: $primary-background;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.scroll-button.left {
    left: 0;
}

.scroll-button.right {
    right: 0;
}

.scroll-button:hover {
    background-color: $button-hover;
}

.menu-item-desc {
    width: 200px;
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-item-title {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .menu-items {
        -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
    }

    .menu-item {
        margin-bottom: 20px;
        -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
    }

    .tabs {
        -webkit-overflow-scrolling: touch; /* Enables momentum scrolling */
    }
}

@media only screen and (min-width: 768px) {
    /* CSS rules for laptop, desktops, and larger devices go here */
    .menu-items {
        overflow-x: hidden;
    }

    .tabs {
        justify-content: center;
    }

    .tab {
        padding: 15px 25px; /* Adjust padding for larger screens if needed */
        font-size: 1.4em; /* Adjust font size for larger screens if needed */
    }
  }
