
$primary-background: white;
$secondary-background: #E41A22;
$accent-background: whitesmoke;
$accent-color: black;
$primary-text-color: black;
$secondary-text-color: white;
$button-background: black;
$button-hover: #555555;
